
body {
  overflow-x: hidden;
  font-family: arial;
  margin: 0;
  padding: 0;
}


.footer{
  height: 59px;
  margin-top: 501px;
  color: white;
  background-color: black;
}


header {
    width: 100%;
    overflow: hidden;
    color: antiquewhite;
    background: rgb(189, 18, 18);
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}


.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header nav a {

    display: inline-block;
    color: #f3d9de;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: 500ms ease;
    transition: all 500ms ease;

}

header nav a:hover {

    background: rgb(231, 221, 240);
    border-radius: 50px;

}
.partidos{
    color: antiquewhite;
}
.estilo{
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 35%;
    margin-right:35%;
    padding: 2%;
    border: 2px solid rgb(231, 161, 161);
    border-radius: 5px;
    box-shadow: 5px 10px #df5050;
  }

  .inicio-session{
 
    margin: 0 auto;
    width: 550px;
    height: 500px;
    margin-top: 100px;
    
  }
 
  .login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  } 
  .btn{
  background: blue;
  color: white; 
  }
  
  .btn-grad {background: blue;
    color: white; }
   
/* Style all font awesome icons */
.fa {
    padding: 500px;
    font-size: 500px;
    width: 500px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
  }
